*{
    margin: 0;
}

:root{
    --bg-color: rgba(25, 23, 23, 1);
    --color: rgba(240, 240, 240, 1);

}

.light-mode{
    --bg-color: rgba(240, 240, 240, 1);
    --color: rgba(25, 23, 23, 1);
}

header{
    background-color: var(--bg-color);
    min-width: 100%;
    height: 90px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
        
}

#sec_principal{
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#background-video{
    position: absolute;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

#nome{
    margin-right: 60%;
}

nav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
}
nav a{
    text-decoration: none;
    color : var(--color);
}

#ola{
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 400;
    color: white;
    margin-left: 10%;
    margin-top: 15%;
}

#fred{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-size: 50px;
    font-weight: 400;
    background-image: linear-gradient(to right, #58EA2C , #248207);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10%;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    color: white;
    font-weight: 700;
    margin-left: 10%;
}